.information {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  width: 100%;
  align-items: center;
}

.information div {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 80%;
  height: fit-content;
  background-color: #333;
}

.informationHead {
  padding-left: 25px;
}

.information .offsetText {
  position: relative;
  left: 50px;
}

.information #headerRow th {
  border-bottom: 0.5px solid white;
  padding: 10px;
  font-size: 23px;
  text-align: start;
}

.information table {
  margin: 10px 20px;
  font-size: 20px;
}

.rename {
  width: 40px;
  height: 40px;
  background-color: #1a1a1a;
  background-image: url("../assets/edit-white-icon.png");
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}

.username {
  display: flex;
  position: relative;
  padding-right: 100px;
  max-width: fit-content;
}

.username > button {
  display: none;
  position: absolute;
}

.username:hover > button {
  display: block;
}

.username input{
    font-size: 50px;
    padding: 20px 10px;
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
}
.username button {
    margin: 10px;
}

button.cancel:hover {
    border: 1px solid red;
}
