.profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 1280px;
    align-items: center;
}

.profile div {
    display: flex;
    width: 75%;
    height: fit-content;
    background-color: #333;
    border-radius: 50px;
}

.profileHead {
    padding-left: 25px;
}

.profile .offsetText {
    position: relative;
    left: 50px;
}